<div class="row justify-content-center without-borders" style="margin:0px;padding:0px;">

    <div class="row justify-content-center" style="margin:0px;padding:0px;">
        <div style="width:100%;height: 250px;background: url('./assets/img/player.jpg');background-size: cover;"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <img src="./assets/img/logo.png" class="shadow bg-white" alt="" width="250px" height="250px" style="margin-top:-150px;border-radius: 100%">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-10 text-center">
            <br><br><b><h2>PREFIERO A CRISTO</h2></b>
            <p>Planea tu guia de devoción diaria con nosotros</p>
        </div>
    </div>

    <div class="col-lg-8 col-md-10 col-sm-11 p-2 mt-3" *ngFor="let category of listCategories">
        <div routerLink="/guide-contents/{{category.id}}/{{category.name}}" class="container rounded shadow p-4 text-center" style="background-color: #fedab7;">
            <h3>{{ category.name }}</h3>
        </div>
    </div>
</div>