<!-- <app-navbarinto></app-navbarinto> -->

<div class="row justify-content-center without-borders">

    <app-submenu [page]="'dashboard'"></app-submenu>

    <div class="col-lg-10 col-md-10 col-sm-12">
        <div class="container p-4">
            <h3>Inicio</h3>
            <!-- <div class="alert alert-info d-none d-lg-block d-md-block" role="alert"> -->
            <div class="alert alert- shadow border text-center" role="alert">
                <h3 class="text-secondary">Hola, {{name}}</h3>
                <!-- <p>Con <b>MyDey</b> ya puedes tener un control de tus citas de una forma mas optimizada y moderna, con el cual tendras los totales de citas agendadas de todos tus negocios registrados en la plataforma en un solo lugar y a su vez tus clientes
                    se sentiran conformes con la facilidad que te ofrece MyDey para hacer una cita.</p> -->
            </div>



            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-10 text-start">
                    <b><h5>Categorias</h5></b>
                    <div class="alert alert-white shadow" style="border-left:5px solid #90caf9;" role="alert">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-10 text-center">
                                <img src="./assets/img/tags.png" class="mt-1 mb-1" width="100px" alt=""><br>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-10 text-center">
                                <p>Gestiona todas tus temas principales en el apartado de categorias y a su vez asociar las categorias en el contenido.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-10 text-start">
                    <b><h5>Contenido</h5></b>
                    <div class="alert alert-white shadow" style="border-left:5px solid #df490e;" role="alert">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-10 text-center">
                                <img src="./assets/img/bible.png" class="mt-1 mb-1" width="100px" alt=""><br>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-10 text-center">
                                <p>Gestiona los contenido de cada categoria en el apartado de contenido, esta es la informacion a mostrar desde el codigo QR para la guía.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg- col-md-6 col-sm-10 text-start">
                    <b><h5>Usuarios</h5></b>
                    <div class="alert alert-white shadow" style="border-left:5px solid #617d8c;" role="alert">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-10 text-center">
                                <img src="./assets/img/users.png" class="mt-1 mb-1" width="100px" alt=""><br>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-10 text-center">
                                <p>Gestiona los usuarios que pueden acceder a crear y modificar el contenido de la guía.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg- col-md-6 col-sm-10 text-start">
                    <b><h5>Configuración</h5></b>
                    <div class="alert alert-white shadow" style="border-left:5px solid #617d8c;" role="alert">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-10 text-center">
                                <img src="./assets/img/settings.png" class="mt-1 mb-1" width="100px" alt=""><br>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-10 text-center">
                                <p>En la configuración puees cambiar tu clave de acceso.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- <div class="d-flex justify-content-center align-items-center text-center d-sm-block d-lg-none d-md-none" style="height:100vh;">
    <div>
        <img class="mb-3" src="./assets/img/devices.svg" width="80%" alt="">
        <h2 class="mb-3">Utilice una tableta o una pc para visualizar contenido.</h2>
        <a routerLink="/" class="btn btn-success shadow">Pagina principal</a>
    </div>
</div> -->