.bg-color {
    background: rgb(254, 215, 163);
    background: linear-gradient(0deg, rgba(254, 215, 163, 1) 0%, rgba(252, 242, 244, 1) 100%);
}

.fc {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
}

.active {
    background-color: transparent !important;
    color: black !important;
}

.nav-link {
    color: gray;
}