<div class="fc col-12 bg-color" *ngIf="step=='1'">

    <div class="col-12 text-center m-0 p-0" style="height: 90vh;">
        <div class="col-12 text-center" style="height: 50vh;display: flex;align-items: center;">
            <img src="./assets/img/hoguera.png" width="100%" alt="">
        </div>
        <h4 class="text-center p-4">
            !La pasión por Dios se cultiva diario! Para crear tu propio récord de racha basta con que hagamos cualquiera de las actividades que tenemos para ti.
        </h4>
        <button type="button" (click)="step='2'" class="btn btn-warning pl-5 pr-5"><b>Comenzar</b></button>
    </div>

    <div style="height: 10vh;">
        <app-menuinside></app-menuinside>
    </div>

</div>


<div class="col-12 m-0 p-0" style="height: 100vh;" *ngIf="step=='2'">

    <div class="text-center p-0 m-0" style="height: 90vh;">

        <div class="col-12 text-center">
            <div class="col-12 text-end p-3" style="width: 100%;position: fixed;top:0px;">
                <svg data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
            </div>
            <div class="row justify-content-center" style="margin:0px;padding:0px;">
                <div style="width:100%;height: 150px;background: url('./assets/img/player.jpg');background-size: cover;"></div>
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <img src="./assets/img/logo.png" class="shadow bg-white" alt="" width="200px" height="200px" style="margin-top:-100px;border-radius: 100%">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-10 text-center">
                    <br><b><h2>PREFIERO A CRISTO</h2></b>
                </div>
            </div>
            <!-- <div style="background: url('./assets/img/bgheadstart.webp')"></div> -->
            <!-- <img src="./assets/img/bgheadstart.webp" width="100%" alt=""> -->
        </div>

        <div class="col-12 text-center" style="background: url('./assets/img/bghome.png');background-repeat: no-repeat;background-size: cover;background-position: center;">
            <div class="col-12 p-2">
                <img (click)="minutePrayer()" class="mr-5" src="./assets/img/forma1.png" width="100px" alt="" style="background-color: #e88531;border-radius: 100%;">
            </div>
            <div class="col-12 p-2">
                <img (click)="minutePrayer()" class="ml-3" src="./assets/img/forma2.png" width="100px" alt="" style="background-color: #0f3047;border-radius: 100%;">
            </div>
            <div class="col-12 p-2">
                <img (click)="minutePrayer()" class="ml-5" src="./assets/img/forma3.png" width="100px" alt="" style="background-color: #c63a32;border-radius: 100%;">
            </div>
            <div class="col-12 p-2">
                <img (click)="minutePrayer()" class="" src="./assets/img/forma4.png" width="100px" alt="" style="background-color: #f4c05f;border-radius: 100%;">
            </div>
        </div>

    </div>

    <div style="height: 10vh;">
        <app-menuinside></app-menuinside>
    </div>

</div>



<div style="width: 100%;" class="offcanvas offcanvas-end bg-color" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Otras cosas</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        ...
    </div>
</div>