<div class="fc col-12 bg-color" *ngIf="step=='1'">

    <div class="col-12 text-center m-0 p-0" style="height: 90vh;">
        <div class="col-12 text-center justify-content-center" style="height: 40vh;display: flex;align-items: center;">
            <img src="./assets/img/hoguera.png" width="80%" alt="">
        </div>
        <div class="col-12 text-center justify-content-center" style="height: 50vh;">
            <h6 class="col-11 text-center p-5">
                !La pasión por Dios se cultiva diario! Para crear tu propio récord de racha basta con que hagamos cualquiera de las actividades que tenemos para ti.
            </h6>

            <button type="button" (click)="step='2'" class="btn btn-warning pl-5 pr-5" style="background-color: #f7903c;">Comenzar</button>

        </div>
    </div>

    <div style="height: 10vh;">
        <app-menuinside></app-menuinside>
    </div>

</div>


<div class="col-12 m-0 p-0" style="height: 100vh;" *ngIf="step=='2'">

    <div class="text-center p-0 m-0" style="height: 90vh;background: url('./assets/img/bghome.png');background-repeat: no-repeat;background-size: cover;background-position: center;">

        <div class="col-12 text-center">
            <div class="col-12 text-end p-3" style="width: 100%;position: fixed;top:0px;">
                <svg data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
            </div>
            <div class="row justify-content-center" style="margin:0px;padding:0px;">
                <div style="width:100%;height: 90px;background: url('./assets/img/player.jpg');background-size: cover;"></div>
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <img src="./assets/img/logo.png" class="shadow bg-white" alt="" width="100px" height="100px" style="margin-top:-60px;border-radius: 100%">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-10 text-center">
                    <br>
                    <h2>PREFIERO A CRISTO</h2>
                </div>
            </div>
        </div>

        <div class="col-12 text-center">
            <div class="col-12 p-2">
                <img (click)="minutePrayer()" class="mr-5" src="./assets/img/forma1.png" width="80px" alt="" style="background-color: #e88531;border-radius: 100%;">
            </div>
            <div class="col-12 p-2">
                <img (click)="readingTime()" class="ml-3" src="./assets/img/forma2.png" width="80px" alt="" style="background-color: #0f3047;border-radius: 100%;">
            </div>
            <div class="col-12 p-2">
                <img (click)="step='plus'" *ngIf="plus!='true'" class="ml-5" src="./assets/img/forma3.png" width="80px" alt="" style="background-color: #c63a32;border-radius: 100%;">
                <img (click)="songs()" *ngIf="plus=='true'" class="ml-5" src="./assets/img/forma3.png" width="80px" alt="" style="background-color: #c63a32;border-radius: 100%;">
            </div>
            <div class="col-12 p-2">
                <img (click)="step='plus'" *ngIf="plus!='true'" class="" src="./assets/img/forma4.png" width="80px" alt="" style="background-color: #f4c05f;border-radius: 100%;">
                <img (click)="exercises()" *ngIf="plus=='true'" class="" src="./assets/img/forma4.png" width="80px" alt="" style="background-color: #f4c05f;border-radius: 100%;">
            </div>
        </div>

    </div>

    <div style="height: 10vh;">
        <app-menuinside></app-menuinside>
    </div>

</div>

<div class="fc col-12 bg-color" *ngIf="step=='minutePrayer'">

    <div class="col-12 text-center m-0 p-0" style="height: 90vh;">
        <div class="col-12 justify-content-center" style="height: 40vh;display: flex;align-items: center;">
            <img src="./assets/img/oracion.png" width="80%" alt="">
        </div>
        <div class="row justify-content-center p-0 m-0">
            <div class="col-5 p-2">
                <div routerLink="/guide-contents/1/Peticiones de Oracion" class="container p-3 pt-4 pb-4 rounded" style="background-color: #e88531;">
                    <p>Peticiones de Oracion</p>
                </div>
            </div>
            <div class="col-5 p-2">
                <div routerLink="/guide-contents/2/Oracion para la familiar" class="container p-3 pt-4 pb-4 rounded text-white" style="background-color: #0f3047;">
                    <p>Oracion para la familiar</p>
                </div>
            </div>
            <div class="col-5 p-2">
                <div routerLink="/guide-contents/3/Oraciones por el prójimo" class="container p-3 pt-4 pb-4 rounded text-white" style="background-color: #c63a32;">
                    <p>Oraciones por el prójimo</p>
                </div>
            </div>
            <div class="col-5 p-2">
                <div routerLink="/guide-contents/4/Oraciones por situaciones" class="container p-3 pt-4 pb-4 rounded" style="background-color: #f4c05f;">
                    <p>Oraciones por situaciones</p>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 10vh;">
        <app-menuinside></app-menuinside>
    </div>

</div>

<div class="fc col-12 bg-color" *ngIf="step=='readingTime'">

    <div class="col-12 text-center m-0 p-0" style="height: 90vh;">
        <div class="col-12 text-center" style="height: 40vh;display: flex;align-items: center;">
            <img src="./assets/img/bible.webp" width="100%" alt="">
        </div>
        <div class="row justify-content-center p-0 m-0">
            <div class="col-5 p-2">
                <div routerLink="/guide-contents/5/Lecturas inspiradoras" class="container p-3 pt-4 pb-4 rounded" style="background-color: #e88531;">
                    <p>Lecturas inspiradoras</p>
                </div>
            </div>
            <div class="col-5 p-2">
                <div routerLink="/guide-contents/6/Temas de Crecimeinto" class="container p-3 pt-4 pb-4 rounded text-white" style="background-color: #0f3047;">
                    <p>Temas de Crecimeinto</p>
                </div>
            </div>
            <div class="col-5 p-2">
                <div routerLink="/guide-contents/7/Relacion con Dios" class="container p-3 pt-4 pb-4 rounded text-white" style="background-color: #c63a32;">
                    <p>Relacion con Dios</p>
                </div>
            </div>
            <div class="col-5 p-2">
                <div routerLink="/guide-contents/8/Convivenvia" class="container p-3 pt-4 pb-4 rounded" style="background-color: #f4c05f;">
                    <p>Convivenvia</p>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 10vh;">
        <app-menuinside></app-menuinside>
    </div>

</div>

<div class="fc col-12 bg-color" *ngIf="step=='songs'">

    <div class="col-12 text-center m-0 p-0" style="height: 90vh;">
        <div class="col-12 text-center" style="height: 40vh;display: flex;align-items: center;">
            <img src="./assets/img/bible.webp" width="100%" alt="">
        </div>
        <div class="row justify-content-center p-0 m-0">
            <div class="col-5 p-2">
                <div routerLink="/guide-contents/9/Adoración" class="container p-3 pt-4 pb-4 rounded" style="background-color: #e88531;">
                    <p>Adoración</p>
                </div>
            </div>
            <div class="col-5 p-2">
                <div routerLink="/guide-contents/10/Contemporánea" class="container p-3 pt-4 pb-4 rounded text-white" style="background-color: #0f3047;">
                    <p>Contemporánea</p>
                </div>
            </div>
            <div class="col-5 p-2">
                <div routerLink="/guide-contents/11/Hip Hoy y Rap" class="container p-3 pt-4 pb-4 rounded text-white" style="background-color: #c63a32;">
                    <p>Hip Hoy y Rap</p>
                </div>
            </div>
            <div class="col-5 p-2">
                <div routerLink="/guide-contents/12/Himnos" class="container p-3 pt-4 pb-4 rounded" style="background-color: #f4c05f;">
                    <p>Himnos</p>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 10vh;">
        <app-menuinside></app-menuinside>
    </div>

</div>

<div class="fc col-12 bg-color" *ngIf="step=='exercises'">

    <div class="col-12 text-center m-0 p-0" style="height: 90vh;">
        <div class="col-12 justify-content-center" style="height: 40vh;display: flex;align-items: center;">
            <div>
                <div class="col-12 text-center">
                    <img src="./assets/img/llama2.png" width="100px" alt="">
                </div>
                <div class="col-12 text-center">
                    <img src="./assets/img/heat.png" width="160px" alt="">
                </div>
                <div class="col-12 text-center" style="margin-top:-30px;">
                    <img src="./assets/img/exercises.webp" width="80%" alt="">
                </div>
            </div>
        </div>
        <div class="row justify-content-center p-0 m-0">
            <div class="col-5 p-2">
                <div routerLink="/guide-contents/9/Adoración" class="container p-3 pt-4 pb-4 rounded" style="background-color: #e88531;">
                    <p>Rutinas Cardio</p>
                </div>
            </div>
            <div class="col-5 p-2">
                <div routerLink="/guide-contents/10/Contemporánea" class="container p-3 pt-4 pb-4 rounded text-white" style="background-color: #0f3047;">
                    <p>Ejercicios de Fuerza</p>
                </div>
            </div>
            <div class="col-5 p-2">
                <div routerLink="/guide-contents/11/Hip Hoy y Rap" class="container p-3 pt-4 pb-4 rounded text-white" style="background-color: #c63a32;">
                    <p>Consejos de Nutrición</p>
                </div>
            </div>
            <div class="col-5 p-2">
                <div routerLink="/guide-contents/12/Himnos" class="container p-3 pt-4 pb-4 rounded" style="background-color: #f4c05f;">
                    <p>Recetas Saludables</p>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 10vh;">
        <app-menuinside></app-menuinside>
    </div>

</div>

<div class="fc col-12 bg-color" *ngIf="step=='advance'">

    <div class="col-12 text-center m-0 p-0" style="height: 90vh;">
        <div class="col-12 justify-content-center">
            <img src="./assets/img/llama.png" width="100%" alt="">
        </div>

    </div>

    <div style="height: 10vh;">
        <app-menuinside></app-menuinside>
    </div>

</div>

<div class="fc col-12 bg-color" *ngIf="step=='plus'">

    <div class="col-12 text-center m-0 p-0" style="height: 90vh;overflow: scroll;">

        <div class="row justify-content-center m-0">
            <div class="col-12 text-end">
                <button type="button" (click)="step='2'" class="btn-close text-reset pt-3 pr-3"></button>
            </div>
            <div class="col-2 text-center">
                <b><p style="width: 60px; background-color: #f1bfa9;padding: 5px;border-radius: 10px 10px;">Plus</p></b>
            </div>
            <div class="col-12 text-center">
                <h3><b>Prefiero a Cristo</b></h3>
                <p style="font-size: 12px;margin-top: -10px;">Desbloquea todos los beneficios</p>
                <img src="./assets/img/llama2.png" width="80px" alt="">
            </div>
            <div class="col-12 text-start p-5">
                <h5><b>Prefiero a Cristo</b></h5>
                <h5><b>Esta aplicación es sana, edificante para mi vida. Ayuda a mi bienestar físico, emocional y espiritual. Me gusta!</b></h5>
            </div>
            <div class="col-12 text-center">
                <button type="button" (click)="startPlus();plus='true'" class="btn btn-warning pl-5 pr-5" style="background-color: #f7903c;">Comenzar gratis 4 días</button>
            </div>
            <div class="col-12 text-center mt-2">
                <h3><b>US 5.99/MES</b></h3>
                <p style="font-size: 12px;margin-top: -10px;">Solo se te cobrara una vez que finalices el periodo de prueba</p>
            </div>

        </div>

    </div>

    <div style="height: 10vh;">
        <app-menuinside></app-menuinside>
    </div>

</div>



<div style="width: 100%;" class="offcanvas offcanvas-end bg-color" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel"></h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <div class="d-flex align-items-center mt-1">
            <div class="col-0"><img src="./assets/img/acercade.png" width="50px" alt=""></div>
            <div class="col-0">Acerca de </div>
        </div>

        <div class="d-flex align-items-center mt-1">
            <div class="col-0"><img src="./assets/img/donar.png" width="50px" alt=""></div>
            <div class="col-0">Donar</div>
        </div>

        <div class="d-flex align-items-center mt-1">
            <div class="col-0"><img src="./assets/img/ayuda.png" width="50px" alt=""></div>
            <div class="col-0">Ayuda</div>
        </div>

        <div class="d-flex align-items-center mt-1">
            <div class="col-0"><img src="./assets/img/configurar.png" width="50px" alt=""></div>
            <div class="col-0">Configuración</div>
        </div>

    </div>
</div>