<!-- <app-navbar></app-navbar> -->


<div class="col-12 fc_login" *ngIf="step=='1'" style="background: url('./assets/img/bgstart.png');background-attachment: fixed;background-position: bottom;background-repeat: no-repeat;background-size: 100% 100%;">

    <div class="col-12 text-center" style="height: 50vh;display: flex;align-items: center;">
        <img src="./assets/img/topstart.png" width="100%" alt="">
    </div>
    <div class="col-12 justify-content-center" style="height: 50vh;display: flex;align-items: center;">
        <section class="text-center text-white mt-5">
            <article>
                <h1 class="text-white">Encendamos nuestra</h1>
                <h1 class="text-white">pasión por Cristo</h1>
            </article>
            <br>
            <article>
                <p>Sumerge tu corazón en el fuego de su <br> Espiritu Santo</p>
            </article>

            <button type="button" (click)="step='2'" class="btn btn-warning pl-5 pr-5"><b>ACCEDER</b></button>

        </section>
    </div>

</div>

<div class="col-12 fc_login" *ngIf="step=='2'" style="background: url('./assets/img/bglogin2.png');background-attachment: fixed;background-position: bottom;background-repeat: no-repeat;background-size: 100% 100%;padding-top: 350px;">

    <div class="row justify-content-center p-0 m-0">

        <div class="col-10 p-4 border-radio">

            <div class="alert alert-danger" role="alert" *ngIf="loginError">
                Su email o su clave esta incorrecta, verifique y vuelva a intentar
            </div>
            <label for=""><h6>Email</h6></label>
            <input type="text" [(ngModel)]="email" class="form-control shadow mb-2" maxLength="100" placeholder="Digite su identificacion">
            <label for=""><h6>Contraseñas</h6></label>
            <input type="password" [(ngModel)]="password" class="form-control shadow mb-2" maxLength="100" placeholder="Digite su clave">
            <button *ngIf="!loading" class="btn btn-warning btn-block btn-lg mt-3 shadow" [disabled]="email === '' && password === ''" (click)="login()">
                Ingresar
            </button>
            <button *ngIf="loading" class="btn btn-warning btn-block btn-lg mt-3 shadow">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Ingresando...
            </button>
            <div class="col-12 text-center">
                o
                <br> CREAR CUENTA
            </div>
        </div>

    </div>

</div>