<div class="fc col-12 bg-color row justify-content-center without-borders p-0 m-0" style="height: 100vh;">

    <div class="col-12 justify-content-center m-0 p-0" style="height: 90vh;overflow-y: scroll;">

        <div class="row justify-content-center m-0 p-0">
            <div class="col-12 text-center p-3" style="background-color: #e88531;">
                <b><h2>{{ name || 'PREFIERO A CRISTO' }}</h2></b>
            </div>
        </div>

        <div class="col-lg-8 col-md-10 col-sm-11 p-2 mt-5 text-center m-0 p-0" *ngFor="let content of listContents">
            <button class="container rounded shadow p-4 text-center" style="background-color: white;border: none;" data-toggle="collapse" [attr.data-target]="'#collapseExample'+content.id" role="button" aria-expanded="false" aria-controls="collapseExample">
                <img src="./assets/img/llama2.png" width="100px">
                <h3>{{ content.name }}</h3>
            </button>

            <div class="collapse" id="collapseExample{{ content.id }}" style="width:100%;">
                <div class="card card-body col-12 text-center justify-content-center">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center" *ngIf="category==3">
                            <iframe width="100%" height="315" [src]="content.image| safe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <div class="col-8 text-center" *ngIf="category!=3 && content.image != null">
                            <img style="border:2px solid #e88531;" src="{{ content.image+'&output=embed' || './assets/img/sin_foto.png' }}" width="100%" style="border-radius: 10px 10px;">
                        </div>
                    </div>

                    <div class="col-12 text-start mt-2" *ngIf="content.description!=null">
                        <b>Descripcion:</b>
                        <p>{{ content.description }}</p>
                    </div>
                </div>
            </div>


        </div>

        <div *ngIf="listContents.length<=0" class="alert mt-5 text-center m-0 p-0" role="alert">
            <img src="./assets/img/empty.svg" width="150px">
            <h4 class=" text-secondary mt-3">Contenido no disponible</h4>
        </div>

    </div>

    <div style="height: 10vh;padding: 0px;margin: 0px;">
        <app-menuinside></app-menuinside>
    </div>

</div>