<div class="row justify-content-center without-borders" style="margin:0px;padding:0px;">

    <div class="row justify-content-center" style="margin:0px;padding:0px;">
        <div style="width:100%;height: 250px;background: url('{{ getIMG() }}');background-size: cover;"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <img src="./assets/img/logo.png" class="shadow bg-white" alt="" width="200px" height="200px" style="margin-top:-100px;border-radius: 100%">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-10 text-center">
            <br><br><b><h2>{{ name || 'PREFIERO A CRISTO' }}</h2></b>
        </div>
    </div>

    <div class="col-lg-8 col-md-10 col-sm-11 p-2 mt-3 text-center" *ngFor="let content of listContents">
        <button class="container rounded shadow p-4 text-center" style="background-color: #fedab7;border: none;" data-toggle="collapse" [attr.data-target]="'#collapseExample'+content.id" role="button" aria-expanded="false" aria-controls="collapseExample">
            <h3>{{ content.name }}</h3>
        </button>

        <div class="collapse" id="collapseExample{{ content.id }}" style="width:100%;">
            <div class="card card-body col-12 text-start">
                <div class="col-12 text-center" *ngIf="category==3">
                    <iframe width="100%" height="315" [src]="content.image| safe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-12 text-center" *ngIf="category!=3 && content.image != null">
                    <img src="{{ content.image+'&output=embed' || './assets/img/sin_foto.png' }}" width="100%" style="border-radius: 10px 10px;">
                </div>
                <b>Descripcion:</b>
                <p>{{ content.description }}</p>
            </div>
        </div>


    </div>

    <div *ngIf="listContents.length<=0" class="alert shadow mt-2 text-center" role="alert">
        <h4 class=" text-secondary">Sin datos disponibles</h4>
    </div>

</div>