/* You can add global styles to this file, and also import other style files */

* {
    /* background-image: url('./assets/img/bg.webp');
    background-repeat: none;
    background-size: cover; */
    margin: 0px;
    padding: 0px;
}